 <%= stylesheet_link_tag 'd-time', :plugin => "redmine_dtime" %>



<h2><%= l(:dtime_label_main_page) %></h2>

<table class="list">
<tr>
<th></th>
<th><%=l(:dtime_label_caldays)%></th>
<th><%=l(:dtime_label_menhour_plural)%></th>
<% @neededActivities.each do |a| %>
<th><%=a%></th>
<% end %>
<th><%=l(:label_member_plural)%></th>
<% @neededRoles.each do |r| %>
<th><%=r%></th>
<% end %>
<% @neededCF.each do |cf| %>
<th><%=cf.name%></th>
<% end %>
</tr>

<% @projects.each do |project| -%>
	<tr class="<%= cycle("odd", "even") %>">
		<td><%=link_to_project(project)%></td>
                <td><%=Date.today - project.start_date%></td>
		<%
		project_hours = @hoursPerProject.select{|hpp| hpp.project_id == project.id}.first.sum_hours.to_i
		project_activities_hours = @hoursPerActivityPerProject.select{|hpapp| hpapp.project_id == project.id}
		project_members_hours = @hoursPerMembersPerProject.select{|hpmpp| hpmpp.project_id == project.id}
		%>
                <td><%=project_hours%></td>
		<% @neededActivities.each do |a| %>
			<% 
			project_activity_hours = project_activities_hours.select{|pah| pah.activity_id == a.id}.first
			project_activity_percents = 0 
			if !project_activity_hours.blank? 
				project_activity_percents = (project_activity_hours.sum_hours.to_f/project_hours*100).to_i
			end
			%>
                	<td><%=project_activity_percents%>%</td>
		<% end %>
                <td>
			<%if !project_members_hours.blank?%>
				<%= project_members_hours.collect{|pmh| link_to_user(pmh.user)+"("+(pmh.sum_hours.to_f/project_hours*100).to_i.to_s+"%)"}.join(', ')%>
			<%end%>
                </td>
                <% @neededRoles.each do |r| %>
                	<td><%=project.users_by_role[r].collect{|user| link_to_user(user)}.join(", ")%></td>
                <% end %>
                <% @neededCF.each do |cf| %>
                        <td><%=textilizable project.custom_value_for(cf).to_s%></td>
                <% end %>

	</tr>
<% end -%>

</table>
